<footer class="footer">
  <!-- <div id="signup" class="signup">
    <div class="container-fluid">
      <div class="row main">
        <div class="col-xs-4"><div class="slack-icon"></div></div><div class="col-xs-8"><div class="ssignup-title">Chat with Us!</div></div>
      </div>
      <div class="signup-description">
      <div class="slack-icon">dsfsfsd</div>
      <div id="mc_embed_signup">

    </div>
  </div>
</div>
</div> -->

<div class="bottom-footer">
  <div class="container-fluid">
    <a href="http://www.containx.io" class="footer-logo"></a>
    <ul class="footer-menu">
      <li class="icon-slack"><a href="https://containx.slack.com">Slack</a></li>
      <li class="icon-github"><a href="https://github.com/ContainX">Github</a></li>
      <li class="icon-twitter"><a href="https://twitter.com/jeremyunruh">Twitter</a></li>
    </ul>
  </div>
</div>
</footer>
